<div class = "container">
	<div class = "jumbotron">
		<div class = "jumbotrondiv">
			<div><h1 class="text-center">Burger Frenzy!</h1></div>
		</div>
	</div>

	{{!-- Available Burgers --}}
	<div class="row style="width:80%;">
		<div class="col-md">
			{{#each burgers}}
				{{#unless devoured}}
					{{> burgers/burger-block eaten=false}}
				{{/unless}}
			{{/each}}
		</div>

		{{!-- Burgers that have been devoured --}}
		<div class="col-md">
			{{#each burgers}}
				{{#if devoured}}
					{{> burgers/burger-block eaten=true}}
				{{/if}}
			{{/each}}
		</div>
	</div>

	{{!-- Add a burger --}}
	<div class="row  d-flex justify-content-center align-items-center">
		<form>
			<div class="form-row align-items-center">
				<div class="col-auto">
					<input type="text" class="form-control form-control-lg mb-2" id="burgerInput" placeholder="Classic Burger">
				</div>
				<div class="col">
      		{{!-- <button type="submit" class="btn btn-primary mb-2">Add Burger</button> --}}
					<img class="add-burger" src="assets/img/plusFlat/64x64.png">
    		</div>
  		</div>
		</form>
	</div>
	{{!-- <p><a href="/api/friends">API Friends Link</a> | <a href="https://github.com/vdelariva/FriendFinder">GitHub Repo</a></p> --}}
</div>